<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post" action="/user/signup">
        <label for="name">Enter your full name: </label>
        <input type="text" name="name">
        <label for="emai">Enter your email: </label>
        <input type="text" name="email">
        <label for="password">Enter password</label>
        <input type="text" name="password">
        <button type="submit">signup</button>
    </form>
</body>
</html>